@import url(http://fonts.googleapis.com/css?family=Lato:300&subset=latin,cyrillic-ext);

body {
	font-family: 'lato', Arial, sans-serif; 
	font-size: 18px;
	line-height: 1.6;
	color: #24292d;
	text-align: center;
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #ffffff;
	padding: 5px 0;
	/* z-index allows for moving content on the z-axis similar to layers in photoshop */
}

header img {
	width: 180px;
	max-width: 80%;
	padding: 15px 0 20px 0;
}

nav {
	line-height: 30px;
	display: block;
}

nav a {
	text-decoration: none;
	padding: 0 15px 0 15px;
	color: #777777;
	font-size: 15px;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 1.6;
	float: top right;
}

body {
	margin: 150px 0 0 0;
}

nav a:hover {
	text-decoration: underline;
}

.dressr {
	padding: 10px 0 0 0;
}

.lightbox {
	position:fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(255,255,255,0.5);
	display: none; 
}

.lightbox img {
	position: fixed;
	padding: 0 5px 0 5px;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	width: 400px;
}

.close img {
	position: fixed;
	width: 30px;
	height: 20px;
	top: 20px;
	left: 20px;
}

.icons {
	text-align: center;
	padding: 50px 0 25px 0;
}
.icons img {
	width: 100px;
}

.icons .tel img {
	margin-top: 10px;
	width: 200px;
}

form {
	margin: 10px 10px 20px 10px;
}

label {
	display: none;
}

input {
	width: 100%;
	max-width: 500px;
	border: 2px solid #000000;
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
	text-align: center;
	outline: none;
	background-color: #ffffff;
	transition: all 0.5s;
	border-radius: 0;
    -webkit-border-radius:0;
    -webkit-appearance: none; 
}
input[type="submit"]{
	border-radius: 0 !important;
	-webkit-border-radius: 0;
}
input:focus {
	border: 2px solid #16b898;
}

iframe {
	max-width: 80%;
}
h2 {
	padding: 15px 15px 15px 15px;
}

h3 {
	font-size: 24px;
}

footer {
	padding: 20px 0;
}

@media (max-width: 480px) {
	
/* This is not doing anything */
/*	.thing {
        top: 50%; 
        left: 50%;
        display: block;
        position: fixed;
        background: url(images/background.png) no-repeat center center;
        width: 750px;
        height: 417px;

        margin-top: -208.5px; 
        margin-left: -375px; 
    }*/
}
